.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color:#f5aeba;
  color: white;

}
.form-container, .log-in-form{
  display: flex;
  flex-direction: column;
}
.form-container{
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
}
label{
  text-align: left;
  padding: 0.25rem 0rem;
}
input{
  margin: 0.5rem 0rem;
  border: none;
  padding: 1rem;
  border-radius: 10px;
}
button{
  border: none;
  border-radius: 10px;
  background-color: lightgreen;
  cursor: pointer;
  padding: 10px;
}
